#!/bin/bash -l
#Created on Sun Jun 9 06:07:19 2019
#Author: Gerardo A. Rivera Tello
#Email: grivera@igp.gob.pe
#-----
#Copyright (c) 2018 Instituto Geofisico del Peru
#-----

source /home/grivera/miniconda3/etc/profile.d/conda.sh
conda activate Work

SCR_DIR=/home/grivera/GitLab/argo

cd $SCR_DIR || exit

##############################
#   Build profile database   #
##############################
cd "$SCR_DIR/Profiler_list" || exit

python argo_floatpos.py
python argo_to_json.py

##############################
#    Build Trajectory plot   #
##############################

module unload grads/2.0.2 
module load opengrads/2.2.1.oga.1
export GADDIR=/opt/opengrads/2.2.1.oga.1/data

cd "$SCR_DIR/Trajectory" || exit

sh argo_run_traj.sh

##############################
#     Build tracker plot     #
##############################

cd "$SCR_DIR/Tracker" || exit

sh auto_tracker.sh

##############################
#   Build multiple profiles  #
##############################

cd "$SCR_DIR/Region_data" || exit

sh argo_region_nc.sh