{
    "ARGO_DB_OUT": "/data/users/grivera/ARGO-latlon",
    "ARGO_DB": "/data/users/grivera/ARGO-latlon/argo_latlon.txt",
    "ARGO_DATA": "/data/datos/ARGO/data",
    "ARGO_PROF_OUT": "/data/users/grivera/ARGO-prof",
    "TRAJ_DIR": "/home/grivera/GitLab/argo/Trajectory",
    "TRAJ_PLOT_DIR": "/home/grivera/GitLab/argo/Trajectory/plot_scripts",
    "TRAJ_PLOT_OUT": "/home/grivera/GitLab/argo/Trajectory/Output",
    "ARGO_PATCH_OUT": "/data/users/grivera/ARGO-patch",
    "TRACKER_OUT": "/data/users/grivera/GitLab/argo/Tracker/Output"
}